{% extends "./layout/site.html" %}
  {% block content %}
      {% block header_profile %}
        {% include 'user/header_profile.html' %}
      {% endblock %}
        <div id="main">
            <button type="submmit " onClick="window.history.back()">Voltar</button>
            <table border="1px solid">
                <caption>Dados do Local</caption>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>nome</th>
                        <th>identificador</th>
                        <th>endereco</th>
                        <th>cidade</th>
                        <th>latitude</th>
                        <th>longitude</th>
                        <th>descricao</th>
                        <th>exibicao</th>
                        <th>clone</th>
                        <th>link</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ local.id }}</td>
                        <td>{{ local.name }}</td>
                        <td>{{ local.identifier }}</td>
                        <td>{{ local.address }}</td>
                        <td>{{ local.city }}</td>
                        <td>{{ local.lat }}</td>
                        <td>{{ local.lng }}</td>
                        <td>{{ local.description }}</td>
                        <td>{{ local.visibility }}</td>
                        <td>{{ local.clone }}</td>
                        <td><a href="{{ link }}">{{ link }}</a></td>
                    </tr>
                    <tr>
                        <td>
                            <!-- AddThis Button BEGIN -->
                            <div class="addthis_toolbox addthis_default_style addthis_16x16_style" 
                            addthis:url="{{link}}"
                            addthis:title="{{local.name}}"
                            addthis:description="{{local.description}}"
                            >
                            <a class="addthis_button_facebook"></a>
                            </div>

                            <!-- AddThis Button END -->
                        </td>
                        <td>
                            <!-- AddThis Button BEGIN -->
                            <div class="addthis_toolbox addthis_default_style">
                            <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                            </div>

                            <!-- AddThis Button END -->
                        </td>
                    </tr>
                </tbody>
            </table>
            {% if (imagens|length > 0) %}
            <div id="imgs">
                {% for img in imagens %}
                <div>
                    <img src="../uploads_locais/{{ img.name }}" width="400px" height="230px" alt=""/>
                </div>
                {% endfor %}
            </div>
            {% else %}
                <span>Nao ha fotos cadastradas</span>
            {% endif %}

            {% include './mapa/mapa.html' %}
        </div>
        <script async defer>
               addthis_config = {"data_track_addressbar":true};
        </script>
        <script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5065e8e03dd56e62" async defer>
        </script>
        <script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5065e8e03dd56e62" async defer>
        </script>
  {% endblock %}