
{% extends "./layout/site.html" %}
    {% block content %}
        <title>Lista de Rotas</title>
        {% block header_profile %}
          {% include 'user/header_profile.html' %}
        {% endblock %}

        <div id="main">
            <a href="user" title="">Voltar</a>
            <a href="route/new/" title="">Nova Rota</a>
            <table border="1px solid">
                {% if(routes|length>0) %}
                    {% for rota in routes %}
                        <td>
                            <tr>
                                <td>
                                 <a href="route/{{ rota.id }}">Visualizar rota</a>
                                </td>
                                <td>
                                 <a href="route/edit/{{ rota.id }}">Editar rota</a>
                                </td>
                                <td>
                                <a onclick="return confirm('Certeza ?');" href="route/delete/{{ rota.id }}">Excluir rota</a>
                                </td>
                            </tr>
                            <tr>
                                <td>ID :</td><td>{{ rota.id }}</td>
                            </tr>
                            <tr>
                                <td>nome :</td><td>{{ rota.name }}</td>
                            </tr>
                            <tr>
                                <td>identificador :</td><td>{{ rota.identifier }}</td>
                            </tr>
                            <tr>
                                <td>descricao :</td><td>{{ rota.description}}</td>
                            </tr>
                            <tr>
                                <td>caminho da rota :</td><td>{{ rota.route_path}}</td>
                            </tr>
                            <tr>
                                <td>exibicao :</td><td>{{ rota.visibility }}</td>
                            </tr>
                        </td>
                    {% endfor %}
                {% else %}
                <tr>
                    <td>Não há rotas cadastradas !</td>
                </tr>
                {% endif %}
            </table>
        </div>
    {% endblock %}