
<form id="frmAlbum" action="{{action}}" method="post" accept-charset="utf-8" enctype="multipart/form-data">
	<table border="0px solid">
	{% if acao == 'cadastrar' %}
		<caption>Cadastro de Album</caption>
	{% elseif acao == 'editar' %}
		<caption>Edi&ccedil;&atilde;o de Album</caption>
		<input type="hidden" name="_METHOD" value="PUT">
		<tbody>
	{% endif %}
			<tr>
				<td><label>Nome</label></td><td><input id="album_name" type="text" name="nome" value="{{ album?album.album_name : ''}}" data-id-album="{{album.id}}"></td>
			</tr>

			<tr>
				<td><input type="submit" name="upload" value="{{ acao=='cadastrar' ? 'Cadastrar':'Editar' }}"></td>
				<td><button onClick="javascript:history.back()">Voltar</button></td>
			</tr>
		</tbody>
	</table>
	<table border="1px solid">
		<tr><td>locais</td></tr>
		{% if (locals|length>0) %}
			{% for i,local in locals%}
				<tr>
					<td><a href="local/{{local.id}}">{{ local.name}}</a></td>
					{% if(local.albums_id and local.albums_id == album.id) %}
						<td>
							<img class="local_album_status_add" src="img/bulletDLL.png" alt="">
						</td>
						<td class="locals_to_album">
							<button data-id-local="{{local.id}}" class="btn_rmv_album">Remover do Album</button>
						</td>
					{% elseif(local.albums_id and local.albums_id != album.id) %}
						<td>
							<img class="local_album_status_add" src="img/bulletSTP.png" alt="">
						</td>
						<td class="locals_to_album">
							<button data-id-local="{{local.id}}" class="btn_add_album">Adicionar ao Album</button>
						</td>
					{% else %}
						<td>
							<img class="local_album_status_dll" src="img/bulletADD.png" alt="">
						</td>
						<td class="locals_to_album">
							<button data-id-local="{{local.id}}" class="btn_add_album">Adicionar ao Album</button>
						</td>
					{% endif %}
					

				</tr>
			{% endfor %}
		{% else %}
		<tr>
			<td>Não há locais cadastrados</td>
		</tr>
		{% endif %}
	</table>

	<!-- -->
	<table border="1px solid">
		<tr><td>imóveis</td></tr>
		{% if (realties|length>0) %}
			{% for i,realty in realties%}
				<tr>
					<td><a href="realty/{{realty.id}}">{{ realty.name}}</a></td>
					{% if(realty.albums_id and realty.albums_id == album.id) %}
						<td>
							<img class="realty_album_status_add" src="img/bulletDLL.png" alt="">
						</td>
						<td  class="realties_to_album">
							<button data-id-realty="{{realty.id}}" class="btn_rmv_realty_album">Remover do Album</button>
						</td>
					{% elseif(realty.albums_id and realty.albums_id != album.id)  %}
						<td>
							<img class="realty_album_status_add" src="img/bulletSTP.png" alt="">
						</td>
						<td  class="realties_to_album">
							<button data-id-realty="{{realty.id}}" class="btn_add_realty_album">Adicionar ao Album</button>
						</td>
					{% else %}
						<td>
							<img class="realty_album_status_dll" src="img/bulletADD.png" alt="">
						</td>
						<td  class="realties_to_album">
							<button data-id-realty="{{realty.id}}" class="btn_add_realty_album">Adicionar ao Album</button>
						</td>
					{% endif %}

				</tr>
			{% endfor %}
		{% else %}
		<tr>
			<td>Não há imóveis cadastrados</td>
		</tr>
		{% endif %}
	</table>                                                                                       
</form>