
{% extends "./layout/site.html" %}
    {% block content %}
        <title>Lista de Albuns</title>
        {% block header_profile %}
          {% include 'user/header_profile.html' %}
        {% endblock %}
        <div id="main">
            <a href="user" title="">Voltar</a>
            <a href="album/new/" title="">Novo album</a>
            <table border="1px solid">
                {% if(albums|length>0) %}
                    {% for album in albums %}
                        <td>
                            <tr>
                                <!--<td>
                                 <a href="album/{{ album.id }}">Visualizar Album</a>
                                </td>-->
                                <td>
                                 <a href="album/edit/{{ album.id }}">Editar Album</a>
                                </td>
                                <td>
                                <a onclick="return confirm('Certeza ?');" href="album/delete/{{ album.id }}">Excluir Album</a>
                                </td>
                            </tr>
                            <tr>
                                <td>ID :</td><td>{{ album.id }}</td>
                            </tr>
                            <tr>
                                <td>nome :</td><td>{{ album.album_name }}</td>
                            </tr>
 
                        </td>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td>Não há albums cadastrados </td>
                    </tr>
                    {% endif %}
            </table>
        </div>
    {% endblock %}