
{% extends "./layout/site.html" %}
    {% block content %}
        <title>Edit Profile</title>
        
        <div id="main">
            {% block header_profile %}
              {% include 'user/header_profile.html' %}
            {% endblock %}
       <form action="update"  method="post" accept-charset="utf-8" enctype="multipart/form-data">
            <table border="1px solid">
                 <input type="hidden" name="_METHOD" value="PUT">
                        <td>

                            <tr>
                                {% if (avatar|length > 0) %}
                                
                                        <td>
                                            <img height="50px" width="50px" src="../uploads_users/{{avatar.name}}" alt=""/>
                                        </td>
                                
                                    {% else %}
                                        <td>
                                            <img height="50px" width="50px" src="../uploads_users/default-user-picture.png" alt=""/>
                                        </td>
                                    {% endif %}

                                <td>
                                    <input type="file" name="img[]" class="multi" maxlength="1" aceept="jpg|jpeg|png|gif" value="" placeholder=""/>
                                </td>
                            </tr>
                            <tr>
                                  
                                  <td>Data de nascimento</td>
                                  <td id="select_date">
                                        <label for="select"></label>
                                        <select id="day_select" name="day">
                                         {% for day in days %}
                                            <option value="{{day}}" {{ day == date[0]? 'selected': '' }}>{{day}}</option>
                                         {% endfor %}
                                        </select>
                                        <label for="select2"></label>
                                        <select id="month_select" name="month">
                                         {% for key,month in months %}
                                            <option value="{{key}}" {{ key == date[1]? 'selected': '' }}>{{month}}</option>
                                         {% endfor %}
                                        </select>
                                        <label for="select3"></label>
                                        <select id="year_select" name="year">
                                          {% for year in years %}
                                             <option value="{{year}}" {{ year == date[2]? 'selected': ''}}>{{year}}</option>
                                          {% endfor %}
                                        </select>
                                  </td>
                            
                            </tr>

                            <tr>
                                <td>endereco :</td><td><input type="text" value="{{ user.address }}" name="endereco"/></td>
                            </tr>
                            <tr>
                                <td>cidade :</td><td><input type="text" value="{{ user.city }}" name="cidade"/></td></td>
                            </tr>
                            <tr>
                                <td>bairro :</td><td><input type="text" value="{{ user.area }}" name="bairro"/></td></td>
                            </tr>
                            <tr>
                                <td>uf :</td><td><input type="text" value="{{ user.uf }}" name="uf"/></td></td>
                            </tr>
                            <tr>
                                <td>país :</td><td><input type="text" value="{{ user.country }}" name="pais"/></td></td>
                            </tr>
                            <tr>
                                <td>site :</td><td><input type="text" value="{{ user.site }}" name="site"/></td></td>
                            </tr>
                            <tr>
                                <td><label>Sobre mim :</label></td><td><textarea name="aboutme">{{ user.aboutme }}</textarea></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <label>Tipo</label>
                                    
                                    <label>
                                        <input id="RadioGroup1_0" {{ user.type=='user'?'checked':'false' }} type="radio"  value="user" name="type">
                                    Usuário Comum
                                    </label>
                                    <label>
                                        <input id="RadioGroup1_0" {{ user.type=='agent'?'checked':'false' }} type="radio" value="agent" name="type">
                                    Corretor
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="submit" value="atualizar">
                                </td>
                            </tr>

                        </td>
                 
                </table>
            </form>
        </div>

    {% endblock %}