
	<div id="main">
		<a href="user/edit">edit profile</a>
	</br>
	<a href="user/config">edit config</a>
	</br>
	{% if(friends_requests_quantity>0) %}
	<a href="requests">({{friends_requests_quantity}})Solicitações</a>
	{% endif %}
	<form id="formSearch" action="search_for_locals" method="get">
		<input id="search_locals" type="text" name="term" placeholder="Local, endereço, ponto de interesse, etc." value="" size="60"/>
		<input id="find" type="submit" value="find" />
	</form>
	<table border="1px solid">
	{% if (avatar|length > 0) %}
	    <tr>
	        <td>
	        	<a href="user">
	        	<img class="header_avatar" height="100px" width="100px" src="uploads_users/{{avatar.name}}" data-user="{{user.id}}">
	        	</a>
	        </td>
	        <td> olá {{ user.name }} |<a href="logout">logout</a></td>
	    </tr>
	  {% else %}
	     <tr>
	        <td>
	        	<a href="user">
	        	<img class="header_avatar" height="100px" width="100px" src="uploads_users/default-user-picture.png" data-user="{{user.id}}">
	        	<a/>
	        </td>
	        <td>olá {{ user.name }}|<a href="logout">logout</a></td>
	    </tr>
	  {% endif %}
	</table>

	<table width="100%" border="0">
		<tbody>
			<tr>
				<td width="20%">&nbsp;</td>
				<td width="8%" class="centro">
					<a class="centro" href="local">
						<img width="57" height="32" src="#"><br>
						Meus locais
					</a>
				</td>
				<td width="8%" class="centro">
					<a class="centro" href="route">
						<img width="28" height="30" src="#"><br>
						Minhas rotas
					</a>
				</td>

				<td width="6%" class="centro">
					<a class="centro" href="realty">
						<img width="31" height="30" alt="" src="#"><br>
						Meus Imóveis
					</a><a href="meusimoveis.php"><br></a>
				</td>

				<td width="7%" class="centro">
					<a class="centro" href="fav">
						<img width="37" height="30" alt="" src="#"><br>
						Favoritos
					</a>
				</td>
				<td width="20%">&nbsp;</td>
				</tr>
		</tbody>
	</table>
	<script type="text/javascript">
		/*
          $("#search_locals").autocomplete({
            minLength: 0,
            source: '../search_locals',
             focus: function(event, ui) {
              console.log(event);
            },
            select: function(event, ui) {
            	console.log(ui.item.value);
      
            	$.ajax({
            		type: 'get',
            		url: 'search_locals',
            		success: function(data){

            			//for(var i in data) {
            			//	locais[i] = data[i].name;  
            			//}
            		},
            		error: function(jqxhr){
            			console.log(jqxhr);
            		}
            	});
              console.log(ui);
            }
          });
          */
    </script>