
{% extends "./layout/site.html" %}
    {% block content %}
        <title>Lista de Locais</title>

        <div id="main">
            <a href="javascript:history.back()" title="">Voltar</a>
            <table border="1px solid">
                {% if locals|length > 0%}
                <td>
                    <tr>Sua busca obteu {{results}} resultado(s)</tr>
                </td>
                    {% for key,local in locals %}
                        <td>
                            <tr>
                                {% if (images|length > 0) %}
                                    {% for j,img in images %}
                                        {% if (j == key ) %}
                                        <td>
                                            <a href="local/{{local.id}}">
                                                <img height="100px" width="100px" src="http://localhost/locais_fotos/uploads_locais/{{ img[0].name }}" alt=""/>{{  img[0].name }}
                                            </a>
                                        </td>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                        <td>
                                            <a href="">
                                                <img src="uploads_locais/no_picture.gif" alt=""/>
                                            </a>
                                        </td>
                                {% endif %}

                            </tr>
                            <tr>
                                <td>nome :</td><td>{{ local.name }}</td>
                            </tr>
                            <tr>
                                <td>identificador :</td><td>{{ local.identifier }}</td>
                            </tr>
                            <tr>
                                <td>endereco :</td><td>{{ local.address }}</td>
                            </tr>
                            <tr>
                                <td>cidade :</td><td>{{ local.city }}</td>
                            </tr>
                            <tr>
                                <td>descricao :</td><td>{{ local.description}}</td>
                            </tr>
                            <tr> 
                                <td>usuario :</td>
                                <td>
                                    {% for i, user in users %}
                                        {% if (key == i) %}
                                           <a href="profile/{{user.id}}">{{ user.name }}</a> 
                                        {% endif %}
                                    
                                    {% endfor %}
                                </td>
                            </tr>

                        </td>
                    {% endfor %}
                {% else %}
                <tr>
                    <td>NÃO FORAM ENCONTRADOS RESULTADOS PARA SUA BUSCA! Por favor tente de novo.</td>
                </tr>
                {% endif %}
            </table>
        </div>
    {% endblock %}