
{% extends "./layout/site.html" %}
    {% block content %}
        <title>Show Profile</title>
        
          {% block header_profile %}
            {% include 'user/header_profile.html' %}
          {% endblock %}
      <style>
        div.list_item_container {
            height: 50px;
            padding: 2px;
        }
        div.image {
            width: 90px;
            height: 50px;
            float: left;
        }
        div.city {
            font-style: italic;
            font-size: 0.8em;
            color: gray;
        }
      </style>
            <table border="1px solid">
                <td>
                    <tr>
                        <td>{{ user.name }}</td>
                    </tr>
                    <tr>
                        <td>{{ user.city }}</td><td>{{ user.uf }}</td>
                    </tr>
                    <tr>
                        <td>descricao :</td>
                    </tr>
                    <tr>
                        <td>{{ user.aboutme}}</td>
                    </tr>
                    <tr>
                      <td>{{ user.phone}}</td>
                    </tr>
                </td>
            </table>
        </div>
        <div id="locais">
            <span><a href="local/new/">Novo Local</a></span>
            <span><a href="local/new/">Novo Imovel</a></span>
            <span><a href="route/new/">Nova Rota</a></span>
            <span><a href="album">Meus Albums</a></span>
        </div>

        <!-- ALBUMS -->
        <div class="container">
          {% if(albums|length>0) %}
              {% for album in albums%}

          <table width="100%" border="1">
            <tbody>
                  <tr>
                      <td bgcolor="#CCCCCC">

                          <table width="100%" border="0">
                              <tbody>
                                <tr>
                                    <td><a href="album/edit/{{album.id}}">{{album.album_name}}</a></td>
                                    <td class="direita"><p>&nbsp;</p></td>
                                 </tr>
                              </tbody>
                          </table>

                          <table id="album" width="100%" border="0" class="centro">
                              <tbody>
                                  <tr>
                                      {% if (locals_albums|length > 0) %}

                                          {% for locals in locals_albums %}

                                            {% for j,local in locals %}
                                            
                                            {% if(local.albums_id == album.id) %}

                                            <a href="local/{{local.id}}">
                                               {% if (imagens_locals_albums|length > 0) %}
                                                  {% for arrimg in imagens_locals_albums %}
                                                    {% for k,aimg in arrimg %}
                                                      {% for img in aimg %}
                                                        {% if k==j %}
                                                         {% if (img.locals_id == local.id) %}
                                                           <img width="100" height="77" src="uploads_locais/{{ img.name }}"/>
                                                         {% else %}
                                                           <img width="100" height="77" src="img/semfoto.png"/>
                                                         {% endif %}
                                                        {% endif %}
                                                      {% endfor %}
                                                    {% endfor %}
                                                  {% endfor %}
                                               {% else %}
                                                     <span>Não há fotos cadastradas</span>
                                               {% endif %}
                                                   {{ local.name }}
                                              </a>

                                            {% endif %}

                                            {% endfor %} 

                                          {% endfor %}

                                      {% else %}
                                          <span>Não há locais cadastrados</span>
                                      {% endif %}


                                      {% if (realties_albums|length > 0) %}

                                          {% for realties in realties_albums %}

                                            {% for realty in realties %}
                                            
                                            {% if(realty.albums_id == album.id) %}

                                            <a href="realty/{{realty.id}}">
                                               {% if (imagens_realties_albums|length > 0) %}
                                                  {% for arrimg in imagens_realties_albums %}
                                                    {% for aimg in arrimg %}
                                                      {% for img in aimg %}
                                                         {% if (img.realties_id == realty.id) %}
                                                        <img width="100" height="77" src="uploads_realties/{{ img.name }}"/>
                                                         {% endif %}
                                                      {% endfor %}
                                                    {% endfor %}
                                                  {% endfor %}
                                               {% else %}
                                                     <span>Não há fotos cadastradas</span>
                                               {% endif %}
                                                   {{ realty.name }}
                                              </a>

                                            {% endif %}

                                            {% endfor %} 

                                          {% endfor %}

                                      {% else %}
                                          <span>Não há imóveis cadastrados</span>
                                      {% endif %}
                                  </tr>
                              </tbody>
                          </table>

                      </td>  
                  </tr>
              </tbody>
          </table>

            {% endfor %}
          {% else %}
          <table table width="100%" border="1">
            <tr>
              <td>Não há albuns cadastrados</td>
            </tr>
          </table>
          {% endif %}
        </div>

                <a href="profile/{{user.id}}">meu perfil público</a>
                <form action="" method="">
                  <input id="search_users" type="text" name="term" placeholder="Busca de Usuários" value="" size="60"/>
                </form>
         
            <!-- AMIGOS -->

            <div class="container">
              <table width="100%" border="1">
                <tbody>
                  <tr>
                      <td bgcolor="#CCCCCC">
                          <table width="100%" border="0">
                              <tbody>
                                <tr>
                                    <td>Amigos <a href="">[{{friends_quantity}}]</a></td>
                                    <td class="direita"><p>&nbsp;</p></td>
                                 </tr>
                              </tbody>
                          </table>
                          <table width="100%" border="0" class="centro">
                              <tbody>
                                  <tr>
                                      {% if (friends|length > 0) %}
                                          {% for key,friend in friends %}
                                              <td>
                                                  <a href="profile/{{friend.id}}">

                                                {% if (friends_avatars|length > 0) %}
                                                  {% for k,img in friends_avatars %}
                                                     
                                                        {% if(img.users_id == friend.id) %}
                                                          <img class="friend_avatar" height="100px" width="100px" 
                                                          src="uploads_users/{{img.name}}" 
                                                          data-public-user="{{friend.id}}"/>
                                                          <span>{{friend.name}}</span>
                                                        {% else %}
                                                          {% if(k == key) %}
                                                            <img class="friend_avatar" height="100px" width="100px" 
                                                            src="uploads_users/default-user-picture.png" 
                                                            data-public-user="{{friend.id}}"/>
                                                            <span>{{friend.name}}</span>
                                                          {% endif %}
                                                        {% endif %}
                                                   
                                                  {% endfor %}

                                                {% else %}
                                                        <img class="friend_avatar" height="100px" width="100px" 
                                                        src="uploads_users/default-user-picture.png" 
                                                        data-public-user="{{friend.id}}"/>
                                                {% endif %}
                                                 
                                                </a> 

                                              </td> 
                                          {% endfor %} 
                                      {% else %}
                                          <span>Você ainda não tem amigos</span>
                                      {% endif %}
                                  </tr>
                              </tbody>
                          </table>
                        </td>
                    </tr>
                  </tbody>
                </table>
            </div>

    {% endblock %}