
{% extends "./layout/site.html" %}
    {% block content %}
        <title>Show Profile</title>

        <div id="main">
        
            <table border="1px solid">
                  
                        <td>
                            <tr>
                                <td>ID :</td><td>{{ user.id }}</td>
                            </tr>
                            <tr>
                                <td>{{ user.name }}</td>
                            </tr>
                            <tr>
                                <td>{{ user.city }}</td>/<td>{{ user.uf }}</td>
                            </tr>
                            <tr>
                                <td>descricao :</td>
                            </tr>
                            <tr>
                                <td>{{ user.aboutme}}</td>
                            </tr>
                            <tr>
                              <td>{{ user.phone}}</td>
                            </tr>
                        </td>
            </table>
        </div>
        <div id="locais">
            <span>Meus Locais</span>
            <span><a href="../local/new/">Novo Local</a></span>
            <span><a href="../local/new/">Novo Imovel</a></span>
        </div>
        <div id="container">
          <table width="100%" border="1">
            <tbody>
              <tr>
                  <td bgcolor="#CCCCCC">
                      <table width="100%" border="0">
                          <tbody>
                            <tr>
                                <td>Album Natal</td>
                                <td class="direita"><p>&nbsp;</p></td>
                             </tr>
                          </tbody>
                      </table>
                      <table width="100%" border="0" class="centro">
                          <tbody>
                              <tr>
                                  {% if (locais|length > 0) %}
                                      {% for local in locais %}
                                          <td>
                                              <a href="../local/{{local.id}}">
                                              {% if (imagens|length > 0) %}
                                                  {% for img in imagens %}
                                                      <img width="100" height="77" alt="" src="../uploads_users/{{ img.name }}"><br>
                                                  {% endfor %}
                                              {% else %}
                                                  <span>Não há fotos cadastradas</span>
                                              {% endif %}
                                                  {{ local.name }}
                                              </a> 
                                          </td> 
                                      {% endfor %} 
                                  {% else %}
                                      <span>Não há locais cadastrados</span>
                                  {% endif %}
                              </tr>
                          </tbody>
                      </table>
                    </td>
                </tr>
              </tbody>
            </table>
        </div>
    {% endblock %}